
<section class=" p-4 my-6 w-[70%] mx-auto">
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        @for (brand of branddeatails; track $index) {
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm">
                <a>
                    <img class="w-full h-[200px] rounded-t-lg" src={{brand.image}} alt="" />
                </a>
                <div class="p-5">
                    <a >
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{brand.name}}</h5>
                    </a>
                </div>
            </div>
        }
    </div>
</section>